.list-detalied {
width: 40%;
padding-left: 10px;
padding-right: 10px;

}
.detail__item {
    margin: 0 auto;
    border: 1px solid #ef7d13;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color: #ffebcd;
    margin-bottom: 10px;
}
.detail__item h3 {
    border-radius: 5px;
    background-color: #181a1c;
    text-align: center;
    padding: 4px;
    margin: 0;
    color: #ffebcd;
    font-size: 22px;
    font-weight: 400;
}
.detail__item p {
    padding: 3px;
    color: #181a1c;
    background-color: rgba(39,47,51, 0.4);
    font-size: 20px;

}