
.filter__select {
  border: 1px solid orange;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
  display: block;
}

.filter__select_title {
  text-align: center;
  background-color: #181a1c;
  border-bottom: 1px solid orange;
}

.filter__list {
  height: 10rem;
  overflow: hidden;
  overflow-y: auto;
  background: rgba(76,74,65,.4);
  padding: 2%;
}