.logo{
    padding: 10px 0 10px 20px;
    display: flex;
    align-items: flex-end;

}
.logo__img {
    background: url('/src/assets/logo-online-store.png') center no-repeat;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 5px;
}
.logo__text{
    color: #ef7d13;
    font-size: 28px;
}