
.product {
  width: 74%;
  background: rgba(24,26,28,.5);
  border: 1px solid orange;
  border-radius: 0.7rem;
  overflow: hidden;
}

.product__sort {
  background: rgba(24,26,28,.5);
  padding: .5%;
  border-bottom: 1px solid orange;
}

.product__list {
  padding: .5%;
  display: flex;
  flex-wrap: wrap;
}
