.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid #ef7d13;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}