* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(.2rem + 1vw);
    color: orange;
    font-family: Philosopher,sans-serif;
    word-wrap: break-word;
}

/* body{
    max-width: 100%;
    min-height: 100vh;
    color: #ef7d13;
    margin: 0 auto;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */
p, 
h1,
h2,
h3,
h4, 
li,
ul ,
body {
    margin: 0;
    padding: 0;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
li {
    list-style-type: none; 
}
a {
    text-decoration: none;
    color: #000;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #181a1c;
    border-radius: 20px;
    border: 2px solid orange;
}
::-webkit-scrollbar-track {
    background: orange;
}

body{
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.App {
    display: block;
    min-height: 100vh;
    width: 100%;
}